<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <button class="btn btn-secondary" (click)="irFavoritas()" style="width: 120px;">
        Favoritas
        <i class="fas fa-star"></i> 
      </button>
    </li>
    <br>
    <li class="nav-item">
      <button class="btn btn-secondary" (click)="irAutores()" style="width: 120px;">
        Autores
        <i class="fas fa-address-book"></i>
      </button>
    </li>
    <br>
    <li class="nav-item">
      <button class="btn btn-danger" (click)="logout()" style="width: 120px;">
        Salir
        <i class="fas fa-chevron-circle-left"></i> 
      </button>
    </li>
    <br>
    <br>
      <span style="font-size: 20px;">Obras Azar</span>
    <br>
    <br>
    <li class="nav-item" *ngFor="let obra of obrasRandom">
      <a class="nav-link"> <b>Obra: </b>{{obra.title}} </a>
      <a> <b>Autor: </b> {{obra.author}}</a>
      <hr>
    </li>
  </ul>
</div>